/*
Author: Joseph Sutton
Date: 05/09/24
File Name: styles08.css
*/

/* Style for body specifies a background color */
body {
	background: linear-gradient(to top right, #fff 0%, #6699ff 100%) no-repeat fixed center;
	font-family: Geneva, Arial, sans-serif;
}

/* Style for the container element */
#container {
	width: 90%;
	margin: 0 auto;
}

/* Style rules for form elements */
legend {
	font-weight: bold;
	font-size: 1.25em;	
}

input {	
	margin-right: 100%;
}

fieldset,
input {
	margin-bottom: 2%;
}

.btn {
	border: none;
	margin: 0px auto;
	padding: 5%;
	display: block;
	background-color: #003399;
	font-size: 1.25em;
	border-radius: 10px;
	color: #fff;
}

/* Style for the footer element */
footer {
	font-size: .9em;
	text-align: center;
}


/* Media query for tablet layout */
@media only screen and (min-width: 600px) {
	form {
		width: 80%;
		margin: 0px auto;
	}

	.grid {
		display: grid;
		gap: 20px;
		grid-template-columns: auto auto;
	}

	.btn {
		grid-column: 1 / span 2;
		padding: 3%;
	}
}